/* Brightness container serves to contain several images. Its purpose is to define a z-index so as to place all elements at a given z-index*/
.zerath_brightness {
    position: relative;
    top: 0;
    left: 0;
    background-color: none; /* We don't want any color in here */
    display: inline-block;
}

/* Any image in the brightness container starts with a .5 opacity*/
.zerath_brightness > img {
    opacity: .5;
    top: 0;
    left: 0;
    z-index: 0;
}

/* On hover, opacity becomes 1 */
.zerath_brightness > img:hover {
    opacity: 1.0;
}

/* First image class */
.zerath_img1 {
  position: relative;
  top: 0;
  left: 0;
}

/* Second image class. The two classes are necessary to be able to superimpose images at will on top of one another */
.zerath_img2 {
  position: absolute;
  top: 0px;
  left: 0px;
}

/* Container of geometrical shapes. Necessary so as to reset z stack. By default hidden with 0 size */
.zerath_container {
  position: relative;
  z-index: 4;
  transform: scale(0%, 0%);
}

/* Text rectangle in which descriptions will be put */
.zerath_rectangle {
  width: 400px;
  background: #0d2345;
  pointer-events : none;
  position: absolute;
  display: flex;
  flex-direction: column;
  min-height:100px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-radius: 25px;
}


/* Defines the magnifying glass */
.zerath_rectangle:before {
  content: "";
  position: absolute;
  top: 250px;
  left: -250px;
  width: 40px;
  height: 40px;
  border: 10px solid #0d2345;
  border-radius: 35px;
  z-index: -1;
}

/* Defines the arm of the magnifying glass */
.zerath_rectangle:after{
  content: "";
  width: 300px;
  height: 10px;
  top: 150px;
  left: -250px;
  background: #0d2345;
  position: absolute;
  transform: rotate(-45deg);
  z-index: -2;
}

/* Lower position defines an info with same properties as above, but different position*/
.zerath_rectangle[pos=lower]:before {
  top: -200px;
  left: -250px;
}

.zerath_rectangle[pos=lower]:after{
  top: -50px;
  left: -250px;
  transform: rotate(45deg);
}

/* Finally on hover, scale up container to show it */
.zerath_brightness > img:hover + .zerath_container{
  transform: scale(100%, 100%)
}
